:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    --button-color: #596D48;
    --input-border: #E5E7EB;
    --right-height: 32vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

/* LEFT SIDEBAR */

.left__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 101vh;
    background: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24%;
    background-color: rgb(0 0 0 / 50%);
    margin-bottom: 200px;

}

.logo__container > img {
    max-width: 20%;
}

.logo__container > p {
    font-size: 68px;
    color: white;
}

/* RIGHT SIDEBAR */

.right__sidebar {
    width: 60%;
    height: 98vh;
    /* background-color: orange; */
}

.top__right-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: var(--right-height);
    background-color: #F3F4F6;
    font-size: 24px;
    font-weight: bold;

}

.top__right-bar > p {
    padding: 0 40px;
    width: 70%;
    
}

.top__right-bar > .bottom-text {
    margin-bottom: 40px;
}

.middle__right-form {
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
    margin-bottom: 2px;
    width: 100%;
    height: 34vh;
    /* background-color: grey; */
    /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);  */
}
h2 {
    
    padding: 0 40px;
}
.form__handler {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 40px; */
    
}

input, label {
    outline: none;;
    width: 220px;
    display: flex;
    flex-direction: column;
    margin: 2px 40px;
    padding-top: 6px;
   
}

input:focus {
    
    border: 1px solid blue;
    box-shadow:#596D48;
}
input:invalid {
    border-color:red;
}





.bottom__right-bar {
    width: 100%;
    height: var(--right-height);
    background-color: #F3F4F6;
}


/* BOTTOM BAR */

.bottom__right-bar {
    
    font-size: 18px;
}

.bottom__right-bar > button, .bottom__right-bar > p {
    margin: 20px 40px;
}

.bottom__right-bar > button {
    margin-top: 40px;
    width: 200px;
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}